@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.bg-container {
    background-color: pink;
    min-height: 100vh;
    padding: 20px;
    background-size: cover;
    width: 100%;
}

.first {
    display: flex;
    flex-direction: row;
}

.profileContainer {
    margin-right: 15px;
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.profile {
    height: 8vh;
    width: 8vh;
    border: 4px solid #260a5a;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
}

.icon-profile {
    font-size: 30px;
}

.name {
    font-size: 15px;
    font-family: "Roboto";
}

.fullName {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 15px;

    height: 20vh;
}

.h1 {
    font-size: 35px;
    font-family: "Roboto";
    color: #260a5a;
    font-weight: 600;
    margin-bottom: 0px;
}

.profession {
    margin-left: 5px;
    font-size: 15px;
    font-family: "Roboto";

}

.v1 {
    height: 200px;
    border-left: 4px solid #260a5a;

}

.address {
    margin-left: 10px;
}

.p {
    font-size: 14px;
    margin-bottom: 0px;
    font-family: "Roboto";
    color: #260a5a;
}

.para {
    font-size: 14px;
    margin-bottom: 8px;
    font-family: "Roboto";
    color: #260a5a;
}

.hori1 {
    width: 800px;
    border-bottom: 5px solid #260a5a;
    margin-left: 100px;
    margin-bottom: 0px;
    margin-top: 0px;
}

.second {
    display: flex;
    flex-direction: row;

}

.workContainer {
    margin-right: 15px;
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.work {
    height: 8vh;
    width: 8vh;
    border: 4px solid #260a5a;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
    padding: 5px;
}

.icon-work {
    font-size: 30px;
}

.workName {
    font-size: 15px;
    font-family: "Roboto";
    margin-left: 7px;
}

.years {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
    margin-left: 10px;

}

.date {
    display: flex;
    flex-direction: row;
}

.year1 {
    display: flex;
    flex-direction: row;
    margin-bottom: 5px;
}

.yearOfWork {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    font-size: 10px;

}

.yearNo {
    font-size: 15px;
}

.title1 {
    font-size: 15px;
    margin-bottom: 0px;
    font-family: "Roboto";
    color: #260a5a;
    font-weight: 700;

}

.title {
    font-size: 15px;
    font-family: "Roboto";
}

.third {
    display: flex;
    flex-direction: row;
}

.skillContainer {
    margin-right: 15px;
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.skill {
    height: 8vh;
    width: 8vh;
    border: 4px solid #260a5a;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
    padding: 5px;
}

.icon-check {
    font-size: 30px;
}

.skillName {
    font-size: 15px;
    font-family: "Roboto";
}

.skills-list {
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
    margin-left: 10px;
    margin-top: 10px;

}

.skillNames {
    display: flex;
    flex-direction: row;

}

.skillItem {
    font-size: 12px;
    font-family: "Roboto";
}

@media screen and (min-width:576px) {
    .skillItem {
        font-size: 12px;
    }
}

.icon-circle {
    font-size: 10px;
    margin: 3px;
}

.circles {
    margin-left: 25px;
    display: flex;
    justify-content: center;
}

@media screen and (min-width:576px) {
    .circles {
        margin-left: 0px;
    }
}

.circles1 {
    margin-left: 79px;
}

@media screen and (min-width:576px) {
    .circles1 {
        margin-left: 49px;
    }
}

.circles5 {
    margin-left: 45px;
}

@media screen and (min-width:576px) {
    .circles5 {
        margin-left: 20px;
    }
}

.circles3 {
    margin-left: 45px;
}

@media screen and (min-width:576px) {
    .circles3 {
        margin-left: 20px;
    }
}

.circles4 {
    margin-left: 17px;
    font-size: 5px;
}

@media screen and (min-width:576px) {
    .circles4 {
        margin-left: 10px;
    }

}

.skillNames2 {
    display: flex;
    flex-direction: column;
}

.v2 {
    height: 240px;
    border-left: 4px solid #260a5a;
    margin-left: 5px;
    margin-top: 0px;
}

@media screen and (min-width:576px) {
    .v2 {
        margin-left: 0px;
    }
}

.Awards {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-left: 10px;
}

.awardTitle {
    display: flex;
    flex-direction: row;
    margin-bottom: 0px;
}

.yearDate {
    font-size: 13px;
    font-family: "Roboto";
}

.awardName {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    font-size: 10px;
    margin-bottom: 0px;
}

.intersetContainer {
    margin-right: 15px;
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.interset {
    height: 8vh;
    width: 8vh;
    border: 4px solid #260a5a;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
    padding: 5px;

}

.icon-bulb {
    font-size: 35px;

}

.fourth {
    display: flex;
    flex-direction: row;
}

.nameInterest {
    font-size: 15px;
    font-family: "Roboto";
}

.intersetItems {
    display: flex;
    flex-direction: row;
    margin-top: 15px;
    margin-left: 10px;


}

.items {
    display: flex;
    flex-direction: column;
    margin-left: 10px;


}

.item1 {
    height: 10vh;
    width: 10vh;
    background-color: #260a5a;
    border: 4px solid;
    border-radius: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-tv {
    font-size: 50px;
    color: #ffffff;
}

.itemName {
    font-size: 15px;
    margin-left: 10px;
}


.five {
    display: flex;
    flex-direction: row;
}

.educationContainer {
    margin-right: 15px;
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.education {
    height: 8vh;
    width: 8vh;
    border: 4px solid #260a5a;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
    padding: 5px;
}

.icon-edu {
    font-size: 30px;
}

.nameEducation {
    font-size: 15px;
}

.details {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.full {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    justify-content: space-between;
}

.time {
    font-size: 15px;
}

.yearTime {
    margin-right: 20px;
}